@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

:root{
    /*THEME*/
    --BACKGROUND_DARK: #1D3240;
    --BACKGROUND_DARK_DARKER: #212228;
    --BARCKGROUND_LIGHT: #F5FFF8 ;
    --BARCKGROUND_LIGHT_DARKER: #A8FFC0 ;

    /*fullfilled and borders*/
    --PRIMARY_900: #025939;
    --PRIMARY_800: #027333;
    --PRIMARY_700: #03A63C;
    --PRIMARY_600: #04D939;
    
    /*titles*/
    --SECONDARY_900: #224573;
    --SECONDARY_800: #049DBF;
    --SECONDARY_700: #04C4D9;
    
    /*paragraph*/
    --TEXT: #011140;
    --TEXT_LIGHT: #DFE6EA;
	
    /*fonts*/
    /*italic / small-caps / bold / 12px/18px / Arial, Helvetica, Verdana
    Font-style / font-variant / font-weight / font-size/line-height / font-family*/
    --LIGHT: normal 300 1rem 'Nunito', san-serif;
    --LIGHT_ITALIC: italic 300 1rem 'Nunito', san-serif;
    --REGULAR: normal 400 1rem 'Nunito', san-serif;
    --REGULAR_WARNING: normal uppercase 400 1rem 'Nunito', san-serif;
    --MEDIUM: normal 500 1.5rem 'Nunito', san-serif;
    --BOLD: normal 700 2rem 'Nunito', san-serif;
    
    /*others*/
    --ALERT: #D9042B;
    --WARNING: #F2B705; 
    --LINE_DARK:#0D0000;
    --LINE_LIGHT: #595959;

}

.container-fluid{
    background-color: var(--BACKGROUND_DARK_DARKER);
}

.navbar-brand{
    margin-left: 1.5rem;
    font: var(--nav-title);
}

.nb2{
    color: var(--color-first-brown);
    font: var(--nb2);
}


/*===============
    NAVBAR AREA
=================*/

.navbar a {
    margin-left: 1rem;
}

/*===============
    HEADER AREA
=================*/
.row .col .btn-outline-success{
    height: 3.5rem;
    width: 7rem;
}

/*===============
    MENU AREA
=================*/
.menu-area{
    display: flex;
    align-content: center;
    align-items: center;

}
.container-fluid .row .col .menu-area .navbar ul{
    list-style: none;
    display: flex;
    margin-top: 10px;
}
.container-fluid .row .col .menu-area .navbar ul li{
    margin-left: 15%;

}

footer{
    color:#fff;
}

/*===============
    EDICAO PERFIL
=================*/
.edtphoto {
    position: absolute;
    top: 80px;
}

/*===============
    MEDIAS QUERIES
=================*/

@media (max-width: 570px){
    .container-fluid .row .col .off{
        display: none;
    }
    .one,
    .two,
    .three{
        height: 3px;
        width: 100%;
        background-color: #049DBF;
        margin: 6px auto;
        transition-duration: 0.5s;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    /*fullscren*/
    .menu-area.on{
        position: absolute;
        top:0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #04C4D9;
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-area.on .menu-toggle{
        position: absolute;
        right: 0;
        top: 15px;
    }
    .menu-area.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu-area.on .menu-toggle .two{
        transform: rotate(-45deg) translate(-2px, -1px);
    }
    .menu-area.on .menu-toggle .three{
        opacity: 0;
    }
    .container-fluid .row .col .navbar.off ul{
        text-align: center;
        display: block;
    }
    .container-fluid .row .col .navbar ul a{
        transition-duration: .5s;
        font-size: 1rem;
        line-height: 4rem;
        display: block;
    }
    .menu-area{
        display: flex;
    }
    /*
    .menu-area{
        background-color: #1D3240;
    }
    .menu-area .menu-toggle{
        height: 40px;
        width: 40px;
        position: relative;
        top: 10px;
        left: 30px;
        transition-duration: .3s;
    }
    .menu-area .menu-toggle .one{
        height: 3px;
        background-color: #049DBF;
        margin: 6px auto;
    }
    .menu-area .menu-toggle .two{
        height: 3px;
        margin: 6px auto;
        background-color: #049DBF;
    }
    .menu-area .menu-toggle .three{
        height: 3px;
        background-color: #049DBF;
    }

    .menu-area .on{
        height: 100vh;
        width: 40px;
        position: relative;
        top: 10px;
        left: 30px;
    }
    .menu-area .on .one{ 
        transform: rotateX(45ang) translate();
    }
    .menu-area .on .two{
        transform: rotateX(-45ang) translate();
    }
    .menu-area .on .three{
        opacity: 0;
    }*/

}
