@import url(../variables.css);

.btn{
    margin-top: .7rem;
    font:var(--MEDIUM);
}

.btn-face, .btn-google:hover{
    height: 80px;
    width: 70%;
    top: 218px;
    border-radius: 15px;
    font: var(--MEDIUM);
    color: var(--TEXT_LIGHT);
    transition: 3ms;
}

.btn-face{
    background-color: var(--SECONDARY_900);
}
.btn-google{
    background-color: var(--BARCKGROUND_LIGHT);
}

.btn-face, .btn-google:hover{
    background-color: var(--BARCKGROUND_DARK_DARKER);
}