
.btn{
    margin-top: .7rem;
    font:var(--MEDIUM);
}

.btn-face{
    height: 80px;
    width: 70%;
    top: 218px;
    border-radius: 15px;
    background-color: var(--SECONDARY_900);
    color: var(--TEXT_LIGHT);
}
.btn-google{
    height: 80px;
    width: 70%;
    top: 218px;
    border-radius: 15px;
    background-color: var(--BARCKGROUND_LIGHT);
    color: var(--TEXT);
}