@import url(/css/variables.css);

.my-card, .my-card-log, .container-log {
    border: solid 2px var(--PRIMARY_900); /*igual*/
    border-radius: 15px; /*igual*/
    font:var(--REGULAR); /*igual*/
    color: var(--TEXT_LIGHT); /*igual*/
}

.container-log{
    width: auto;
    height: auto;
}

.my-card{
    width: 15rem;
    height: 20rem;
    padding-bottom: 1rem;
}
.my-card-log{
    width: auto;
    height: 400px;
}

.top-card{
    background-color: var(--PRIMARY_900);
    color: var(--TEXT_LIGHT);
    padding: 1.3rem;
    text-justify: center;
    text-align: center;
    width: 100%;
    height: 20%;
    border-radius: 12px 12px 0 0;
}
.top-card-img{
    width: 100%;
    height: 40%;
    border-radius: 12px 12px 0 0;
}
.cat-card{
    border-bottom: solid 2px var(--PRIMARY_900);
    height: auto;
    padding: 10%;
    text-decoration: none;
    color: var(--TEXT_LIGHT);
}